.hero{
  height:400px;
  background:linear-gradient(45deg,#FF3400,#FFB200);
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
  text-align:center;
}

.hero button{
  margin-top:20px;
  padding:10px 20px;
  border:none;
  background:#319805;
  color:white;
  border-radius:6px;
  cursor:pointer;
}